 .SortableParent {
  display: flex;
  flex-direction: row;

  width: 100%;
  max-width: 300px;

  background-color: #313131;
  height: 100%;
  padding: 10px;
  margin: 15px;
}

.SortableParent .SortableObject {
  padding: 15px 25px;
  background-color: #f3f3f3
}