.npcTextarea {
  border: 1px;
  min-width: 20em;
  height: 100%;
  padding: 1em;
}

.tagify {
  margin-bottom: 3em;
  --tag-bg: #6c0e42;
  --tag-text-color: white;
  --tag-text-color--edit: white;
  --tag-hover: rgb(162, 8, 56);
  --tag-remove-btn-color: white;
  min-height: 15em;
  width: 20em;
  padding: 1em;
}
.tagify__input {
  word-wrap: break-word;
  padding: 0px;
}
