.SceneHomePage-Button {
  margin: auto;
}

.SceneHomePage-Parent {
  background-color: #add8e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 50%;
}
