.SceneHomePage-Button {
  margin: auto;
}

.SceneHomePage {
  background-color: #add8e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
