.SceneCard {
  margin: 1em;
  cursor: move;
  order: 1;
  flex-grow: 2;
  align-self: flex-start;
}

.SceneCardContent {
  display: flex;
  align-items: center;
}

.SceneName {
  order: 1;
  flex: 3;
}

.SceneCardActions {
  order: 2;
  flex: 1;
}
